<!--    Header-->
<nav class="navbar navbar-inverse ">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "Trello", :class => "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
        <li>
          <img src="/assets/Profile-Pic.jpg"class="img-rounded profile-pic">
        </li>
        <li>
          <h3 class="sharmila"><%= current_user.name %></h3>
        </li>

        <li>
          <%= button_to "Sign out", session_path(:id => current_user.id),:method=> :delete, :class=>"btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal'%></li>
          <% else %>

          <li>
            <%= button_to "Sign up", new_user_path ,:method=> :get, remote: true, :class=>"btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal'%>
          </li>
          <li>

            <%= button_to "sign in", new_session_path ,:method=> :get, remote: true, :class=>"btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal'%>

          </li>

          <% end %>

        </ul>
      </div>
    </div>

  </nav>






